# Visual Studio
.vs/

# Build results
Debug/
Release/
x64/
x86/

# Compiled object files
*.obj
*.exe
*.pdb
*.idb
*.iobj

# IntelliSense
ipch/
*.sdf
*.opensdf

# User-specific files
*.user
*.suo
*.VC.db
*.VC.opendb

# Build logs
*.log
